@import '../../styles/variables';

.bdl-CollabRestrictionNotice {
    .bdl-SelectButton {
        margin-top: 10px;
    }

    .bdl-SelectFieldDropdown {
        z-index: $overlay-z-index;
        max-width: 100%;
    }
}

.bdl-CollabRestrictionNotice-description {
    margin-bottom: 10px;
}

.bdl-CollabRestrictionNotice-loadingIndicator {
    margin: 14px auto 10px auto;
}

.bdl-CollabRestrictionNotice-removeBtn {
    text-decoration: underline;
}
